:root {
  --background: oklch(0.9610 0.0124 91.5185);
  --foreground: oklch(0.2831 0.0070 67.5405);
  --card: oklch(0.9344 0.0181 89.3612);
  --card-foreground: oklch(0.2831 0.0070 67.5405);
  --popover: oklch(0.9610 0.0124 91.5185);
  --popover-foreground: oklch(0.2831 0.0070 67.5405);
  --primary: oklch(0.4514 0.1325 24.1148);
  --primary-foreground: oklch(0.9610 0.0124 91.5185);
  --secondary: oklch(0.3928 0.0411 188.5783);
  --secondary-foreground: oklch(0.9610 0.0124 91.5185);
  --muted: oklch(0.8830 0.0295 89.5857);
  --muted-foreground: oklch(0.4590 0.0142 79.7159);
  --accent: oklch(0.7862 0.0638 74.6190);
  --accent-foreground: oklch(0.2831 0.0070 67.5405);
  --destructive: oklch(0.3959 0.1221 28.9715);
  --destructive-foreground: oklch(0.9610 0.0124 91.5185);
  --border: oklch(0.8222 0.0386 88.4798);
  --input: oklch(0.9143 0.0296 87.5490);
  --ring: oklch(0.4514 0.1325 24.1148);
  --chart-1: oklch(0.4514 0.1325 24.1148);
  --chart-2: oklch(0.3928 0.0411 188.5783);
  --chart-3: oklch(0.7862 0.0638 74.6190);
  --chart-4: oklch(0.4955 0.0896 126.1858);
  --chart-5: oklch(0.4708 0.1121 50.8452);
  --sidebar: oklch(0.9143 0.0296 87.5490);
  --sidebar-foreground: oklch(0.2831 0.0070 67.5405);
  --sidebar-primary: oklch(0.4514 0.1325 24.1148);
  --sidebar-primary-foreground: oklch(0.9610 0.0124 91.5185);
  --sidebar-accent: oklch(0.7862 0.0638 74.6190);
  --sidebar-accent-foreground: oklch(0.2831 0.0070 67.5405);
  --sidebar-border: oklch(0.8222 0.0386 88.4798);
  --sidebar-ring: oklch(0.4514 0.1325 24.1148);
  --font-sans: 'Georgia', serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Courier New', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2102 0.0066 78.1754);
  --foreground: oklch(0.9143 0.0296 87.5490);
  --card: oklch(0.2496 0.0087 75.2025);
  --card-foreground: oklch(0.9143 0.0296 87.5490);
  --popover: oklch(0.2102 0.0066 78.1754);
  --popover-foreground: oklch(0.9143 0.0296 87.5490);
  --primary: oklch(0.5175 0.1557 29.2441);
  --primary-foreground: oklch(0.2102 0.0066 78.1754);
  --secondary: oklch(0.4941 0.0503 188.4094);
  --secondary-foreground: oklch(0.9143 0.0296 87.5490);
  --muted: oklch(0.2868 0.0084 75.2489);
  --muted-foreground: oklch(0.6915 0.0259 85.7973);
  --accent: oklch(0.4941 0.0503 188.4094);
  --accent-foreground: oklch(0.9143 0.0296 87.5490);
  --destructive: oklch(0.4463 0.1399 29.2972);
  --destructive-foreground: oklch(0.9143 0.0296 87.5490);
  --border: oklch(0.3432 0.0152 79.6399);
  --input: oklch(0.2496 0.0087 75.2025);
  --ring: oklch(0.5175 0.1557 29.2441);
  --chart-1: oklch(0.5175 0.1557 29.2441);
  --chart-2: oklch(0.4941 0.0503 188.4094);
  --chart-3: oklch(0.6180 0.0778 65.5444);
  --chart-4: oklch(0.5995 0.1374 126.3225);
  --chart-5: oklch(0.6782 0.1227 62.1816);
  --sidebar: oklch(0.1883 0.0051 67.5074);
  --sidebar-foreground: oklch(0.9143 0.0296 87.5490);
  --sidebar-primary: oklch(0.5175 0.1557 29.2441);
  --sidebar-primary-foreground: oklch(0.2102 0.0066 78.1754);
  --sidebar-accent: oklch(0.4941 0.0503 188.4094);
  --sidebar-accent-foreground: oklch(0.9143 0.0296 87.5490);
  --sidebar-border: oklch(0.3432 0.0152 79.6399);
  --sidebar-ring: oklch(0.5175 0.1557 29.2441);
  --font-sans: 'Georgia', serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Courier New', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0 1px 8px 0px hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0 1px 8px 0px hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0 1px 8px 0px hsl(0 0% 0% / 0.40), 0 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0 1px 8px 0px hsl(0 0% 0% / 0.40), 0 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0 1px 8px 0px hsl(0 0% 0% / 0.40), 0 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 1.00);
}
