:root {
  --background: oklch(0.9816 0.0017 247.8390);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.3791 0.1378 265.5222);
  --secondary: oklch(0.3791 0.1378 265.5222);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.7848 0.0559 256.1493);
  --muted-foreground: oklch(0.2290 0.0459 21.2977);
  --accent: oklch(0.6368 0.2078 25.3313);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6050 0.0024 17.2244);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.3791 0.1378 265.5222);
  --chart-1: oklch(0.3791 0.1378 265.5222);
  --chart-2: oklch(0.8606 0.1731 91.9357);
  --chart-3: oklch(0.6368 0.2078 25.3313);
  --chart-4: oklch(0.6959 0.1491 162.4796);
  --chart-5: oklch(0.6056 0.2189 292.7172);
  --sidebar: oklch(0.3791 0.1378 265.5222);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-accent: oklch(0.5461 0.2152 262.8809);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3717 0.0392 257.2870);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 2px 2px 4px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(0 0% 0% / 0.15), 2px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(0 0% 0% / 0.15), 2px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(0 0% 0% / 0.15), 2px 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(0 0% 0% / 0.15), 2px 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(0 0% 0% / 0.15), 2px 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(0 0% 0% / 0.38);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.2795 0.0368 260.0310);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2795 0.0368 260.0310);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.5461 0.2152 262.8809);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3717 0.0392 257.2870);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.6368 0.2078 25.3313);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3717 0.0392 257.2870);
  --input: oklch(0.2795 0.0368 260.0310);
  --ring: oklch(0.8606 0.1731 91.9357);
  --chart-1: oklch(0.8606 0.1731 91.9357);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6368 0.2078 25.3313);
  --chart-4: oklch(0.7227 0.1920 149.5793);
  --chart-5: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.1288 0.0406 264.6952);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.2795 0.0368 260.0310);
  --sidebar-accent-foreground: oklch(0.8606 0.1731 91.9357);
  --sidebar-border: oklch(0.2795 0.0368 260.0310);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 2px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 4px 10px 2px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 4px 10px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 4px 10px 2px hsl(0 0% 0% / 0.50), 0px 1px 2px 1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 4px 10px 2px hsl(0 0% 0% / 0.50), 0px 2px 4px 1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 4px 10px 2px hsl(0 0% 0% / 0.50), 0px 4px 6px 1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 4px 10px 2px hsl(0 0% 0% / 0.50), 0px 8px 10px 1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 4px 10px 2px hsl(0 0% 0% / 1.25);
}
